table {
  margin: 1em;
  border-collapse: collapse;
}
td, th {
  padding: .3em;
  border: 1px #ccc solid;
}
thead {
  background: #70ff45;
}
.even{
  background-color: #beffca;
}
.odd{
  background-color: #f0fff6;
}
