<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Demo</title>
    <link rel="stylesheet" href="css/simple.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="js/productservice.js"></script>
    <script src="js/mycontroller.js"></script>
  </head>
  <body ng-controller='MyController' data-ng-init="getAllData()">
    <header>
      <h1>Demo AngularJS + PHP + MySQL</h1>
    </header>
    <br>

    <form name="form" ng-submit="submitForm(form.$valid)" novalidate>
      <div>
        <p>
          <input type="hidden" ng-model="product.id">
          <label class="control-label" for="name">Product Name:</label>
          <input type="text" id="name" ng-model='product.name' placeholder="Name" required>
        </p>

        <p>
          <label class="control-label" for="price">Price:</label>
          <input type="text" id="price" ng-model='product.price' placeholder="Price" required>
        </p>

        <p>
          <button ng-disabled="form.$invalid" ng-click="save()">Save</button>
          Response from server: {{ result }}
        </p>
      </div>
    </form>
    <br>

    <p>
      <button ng-click="getAllData()">Reload</button>
    </p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody ng-repeat="product in products">
        <tr ng-class="{even: $even, odd: $odd}">
          <td>{{ product.name }} </td>
          <td>{{ product.price | number: 2 }} </td>
          <td>
            <a href="javascript:void(0)" ng-click="edit(product)">edit</a> |
            <a href="javascript:void(0)" ng-click="delete(product.id)">delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
